body {
  background-color: DarkGoldenRod;
}
img.a{
  width:480px;
  height:360px;
  object-fit:none;
  object-position: 50% 50%;
}
h1 {
  color: black;
  font-family: helvetica;
  font-size: 24;
  text-align: center;
}
p {
  color: black;
  font-family: helvetica;
  font-size: 12;
  text-align: center;
}